* {
    background-color: whitesmoke;
    font-family: monospace;
}

h1{
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px rgb(104, 101, 101);
}

caption {
    font-weight: bold;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: rgb(104, 101, 101);
    text-shadow: 0.75px 0.75px black;
    
}

table {
    border: 5px solid darkgrey;
    margin-left:auto; 
    margin-right:auto;
    
}

th {
    background-color: darkgrey;
    font-size: 25px;
}

td {
    border-top: 2px solid darkgrey;
    border-right: 1px solid darkgrey;
    font-size: 20px;
    background-color: whitesmoke;
}

#tag {
    text-align: center;
    font-weight: bold;
    width: 250px;
    height: 50px;
}

#name {
    width: 250px;
    text-align: center;
}

#desc {
    width: 600px;
}